{%- assign show_announcement = false -%}
{%- assign announcement_block_count = 0 -%}
{% for block in section.blocks %}
{% if block.type == 'announcement' %}
{%- assign show_announcement = true -%}
{%- assign announcement_block_count = announcement_block_count | plus: 1 -%}
{% endif %}
{% endfor %}

{% if show_announcement %}
<div class="announcement-bar" id="announcebar">
  <div class="page-width">
    <div
         id="AnnouncementSlider"
         class="announcement-slider{% if section.settings.announcement_compact %} announcement-slider--compact{% endif %}"
         data-compact-style="{{ section.settings.announcement_compact }}"
         data-block-count="{{ announcement_block_count }}">
      {%- assign slide_index = 0 -%}
      {% for block in section.blocks %}
      {% if block.type == 'announcement' %}
      <div
           id="AnnouncementSlide-{{ block.id }}"
           class="announcement-slider__slide"
           data-index="{{ slide_index }}"
           {{ block.shopify_attributes }}>
        {% if block.settings.link != blank %}
        <a class="announcement-link" href="{{ block.settings.link }}">
          {% endif %}
          {% if block.settings.text != blank %}
          <span class="announcement-text">{{ block.settings.text }}</span>
          {% endif %}
          {% if block.settings.link_text != blank %}
          <span class="announcement-link-text">{{ block.settings.link_text }}</span>
          {% endif %}
          {% if block.settings.link != blank %}
        </a>
        {% endif %}
      </div>
      {%- assign slide_index = slide_index | plus: 1 -%}
      {% endif %}
      {% endfor %}
    </div>
  <div class="announcebar_close"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" style="height: 35px; width: 40px;" viewBox="0 0 64 64"><path style="color: black; stroke-width: 1px;" d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg></div>
  </div>
</div>

<script>  
  $('.announcebar_close').on('click', function(){
    $('.announcement-bar').slideToggle();
  })
</script>
{% endif %}
