{% paginate customer.orders by 20 %}

<div class="page-width page-content">
<!--   <header class="section-header{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}">
    <h1 class="section-header__title">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}" class="btn btn--secondary btn--small section-header__link">{{ 'layout.customer.log_out'| t }}</a>
  </header> -->
  
  <div class="grid">
    <div class="grid__item medium-up--one-whole">
      <!--  Account Tab Start -->
      <div class="account-tab-area">
        <div class="account-tab-menu">
          <div class="sticky hide_1023">
            <div class="account-tab-menu-title">
              <h3 class="account_heading">MY ACCOUNT</h3>
            </div>
            
            <div class="tab">
              <a href="{{ routes.account_url }}" class="tablinks active">Overview</a>
  <!--             <a href="{{ routes.account_addresses_url }}" class="tablinks">Registration Details</a> -->
              <a href="/pages/order" class="tablinks my_order">My Orders</a>
              <a href="/pages/measurements" class="tablinks my_order">My Measurements</a>
              <a href="/pages/wishlist" class="tablinks">Wish List</a>
              <a href="{{ routes.account_addresses_url }}" class="tablinks">Registration Details</a>
  <!--             <a href="#" class="tablinks">My Cards</a> -->
              <a href="{{ routes.account_logout_url }}" class="tablinks">Log out</a>
            </div>
          </div>
          
          <div class="show_1023">
            <div class="menuitem">
              <a href="{{ routes.account_url }}" class="tablinks active">Overview</a>
              <i class="fa fa-caret-down action_slide"></i>
            </div>

            <div class="slidemenu" style="display: none;">
              <div class="menuitem">
                <a href="/pages/order" class="tablinks my_order">My Orders</a>
              </div>

              <div class="menuitem">
                <a href="/pages/measurements" class="tablinks my_order">My Measurements</a>
              </div>

              <div class="menuitem">
                <a href="/pages/wishlist" class="tablinks">Wish List</a>
              </div>

              <div class="menuitem">
                <a href="{{ routes.account_addresses_url }}" class="tablinks">Registration Details</a>
              </div>

              <div class="menuitem">
                <a href="{{ routes.account_logout_url }}" class="tablinks">Log out</a>
              </div>
            </div>
          </div>          
        </div>
        
        <div class="account-tab-content">
          <div class="grid">
            <div class="grid-item medium-up--one-whole">
              <div class="account-tab-content-title">
                <h2 class="customer_name">Welcome {{ customer.name }}</h2>
              </div>
            </div>
          </div>
          <div id="overview" class="tabcontent">
            <div class="customer-overview-area">
              <div class="grid">                
                {% if settings.account_img %}
                <div class="grid-item medium-up--one-whole --">
                  <div class="customer_img">
                    <img src="{{ settings.account_img | img_url: 'master' }}" alt="{{ settings.account_img.alt }}">
                  </div>
                </div>
                {% endif %}
                
                <div class="grid-item medium-up--one-whole">
                  <div class="customer-overview-inner">
                    <div class="single-overview">
                      <div class="overview-register">
                        <h3>REGISTRATION DETAILS</h3>
                        <ul>
                          <li>
                            <span class="label">First Name</span>
                            <span class="value">{{ customer.first_name }}</span>
                          </li>
                          <li>
                            <span class="label">Last Name</span>
                            <span class="value">{{ customer.last_name }}</span>
                          </li>
                          
<!--                           <li>
                            <span class="label">GENDER</span>
                            <span class="value">{{ customer.gender }}</span>
                          </li>
                          <li>
                            <span class="label">DATE OF BIRTH</span>
                            <span class="value">{{ customer.datepicker }}</span>
                          </li> -->
                          
                          <li>
                            <span class="label">EMAIL ADDRESS</span>
                            <span class="value">{{ customer.email }}</span>
                          </li>
                        </ul>
                        <div class="overview-btn">
                          <a href="{{ routes.account_addresses_url }}">Edit your details</a>
                        </div>
                      </div>
                    </div>
                    <div class="single-overview">
                      <div class="overview-newsletter">
                        <h3>NEWSLETTER</h3>
                        <p>Be the first to discover the latest arrivals, <br>news and exclusive promotions from the world of India’s Popup.</p>
                        <a href="#shopify-section-footer-newsletter" class="btn btn--secondary btn--small">SUBSCRIBE</a>
                      </div>
                    </div>
                    <div class="single-overview">
                      <div class="overview-newsletter">
                        <h3>MY ORDERS</h3>
                        {% if customer.orders_count > 0 %}
                        <p>You have placed {{ customer.orders_count }} orders as a registered user.</p>
                        {% else %}
                        <p>You have not previously ordered as a registered user.</p>
                        {% endif %}
                        
                        <div class="overview-btn">
                          <a href="/pages/order">View all your orders</a>
                        </div>
                      </div>
                    </div>
                    <div class="single-overview">
                      <div class="overview-newsletter">
                        <h3>WISH LIST</h3>
                        <p>Go to wish list page to see your wish list item.</p>
                        <div class="overview-btn">
                          <a href="/pages/wishlist">View your Wish List</a>
                        </div>
                      </div>
                    </div>
                    <div class="single-overview">
                      <div class="overview-newsletter">
                        <h3>ADDRESS BOOK</h3>
                        
                        <div class="customer_addressinfo">
                          {% if customer.default_address %}
                          {{ customer.default_address | format_address }}
                          {% else %}                        
                          <p>You have not previously ordered as a registered user.</p>
                          {% endif %}
                        </div>
                        
                        <div class="overview-btn">
                          <a href="{{ routes.account_addresses_url }}">View all addresses</a>
                        </div>
                      </div>
                    </div>
                    
<!--                     <div class="single-overview">
                      <div class="overview-newsletter">
                        <h3>MY CARDS</h3>
                        <p>You have not previously ordered as a registered user.</p>
                        <div class="overview-btn">
                          <a href="#">View all addresses</a>
                        </div>
                      </div>
                    </div> -->
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  Account Tab End -->
    </div>
  </div>


  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
</div>
{% endpaginate %}



<script src="{{ 'ScrollMagic.min.js' | asset_url }}"></script>
<script>
  if ( $(window).width() > 1023 ) {
    $(function(){
      // Binding Sticky Elements
      var containerHeight = $('.tabcontent').height();
      var offsetFromTop = 90;
      var controller = new ScrollMagic.Controller();

      console.log('containerHeight', containerHeight);
      containerHeight = containerHeight / 1.3;
      console.log('containerHeight', containerHeight);

      new ScrollMagic.Scene({
        duration: containerHeight,
        offset: offsetFromTop
      })
      .setPin('.sticky')
      .addTo(controller);
    });
  }
</script>