<div class="customer_page">
  <div class="page-width page-content">
    <div class="grid">

      <div class="grid__item medium-up--one-half">
        <div class="login_register_wrapper login_sec">
          <header class="section-header">
            <h1 class="section-header__title login_t">GO TO YOUR ACCOUNT</h1>
            <p class="login_desc">Log in and enjoy a personalized shopping experience.</p>
          </header>

          <div class="note note--success hide" id="ResetSuccess">
            {{ 'customer.recover_password.success' | t }}
          </div>

          <div id="CustomerLoginForm" class="form-vertical">
            {% form 'customer_login' %}

            {{ form.errors | default_errors }}
            
            <div class="using_socialsignin">Social Sign In</div>

            <label class="bold" for="CustomerEmail">EMAIL ADDRESS *</label>
            <input type="email" 
                   name="customer[email]" 
                   id="CustomerEmail" 
                   class="input-full{% if form.errors contains 'email' %} error{% endif %}" 
                   autocorrect="off" 
                   placeholder="Email Address" 
                   autocapitalize="off" 
                   autofocus 
                   required="required">

            <!--           {% if form.password_needed %} -->
            <label class="bold" for="CustomerPassword">PASSWORD *</label>
            <input type="password" 
                   value="" 
                   placeholder="Password" 
                   name="customer[password]" 
                   id="CustomerPassword" 
                   class="input-full{% if form.errors contains 'password' %} error{% endif %}" 
                   required="required">
            <!--           {% endif %} -->

            <div class="label-info">
              <a href="#recover" id="RecoverPassword" class="js-no-transition">Forgot your password?</a>
            </div>

            <p>
              <button type="submit" class="btn btn--small customer_submit_btn">
                {{ 'customer.login.sign_in' | t }}
              </button>
            </p>

            {% comment %}
            <p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p>
            {% endcomment %}

            {% endform %}
          </div>

          <div id="RecoverPasswordForm" class="hide">
            <div class="form-vertical">
              <h6>{{ 'customer.recover_password.title' | t }}</h6>
              <p class="login_desc">{{ 'customer.recover_password.subtext' | t }}</p>

              {% form 'recover_customer_password' %}

              {{ form.errors | default_errors }}

              {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
              {% endif %}

              <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
              <input type="email" value="" name="email" id="RecoverEmail" class="input-full" autocorrect="off" autocapitalize="off">

              <p>
                <button type="submit" class="btn">
                  {{ 'customer.recover_password.submit' | t }}
                </button>
              </p>
              <button type="button" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</button>
              {% endform %}
            </div>

          </div>

          {% if shop.checkout.guest_login %}
          <hr class="hr--clear">

          <h1>{{ 'customer.login.guest_title' | t }}</h1>
          <hr class="hr--small">

          {% form 'guest_login' %}
          <button type="submit" class="btn">
            {{ 'customer.login.guest_continue' | t }}
          </button>
          {% endform %}
          {% endif %}

        </div>
      </div>


      <div class="grid__item medium-up--one-half">
        <div class="login_register_sec login_register_wrapper">
          <header class="section-header">
            <h1 class="section-header__title login_t">DON’T HAVE AN ACCOUNT YET?</h1>
            <p class="login_desc">Register now and make the most of My Account.</p>
          </header>
          <div class="login_register_desc">
            <div class="login_register_desc_item">
              <!--               <img class="login_img" src="{{ 'star.png' | asset_url }}" alt=""> -->
              <div class="site-nav__link--icon star_icon login_img">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.7 42.5">
                  <path d="M44.7 16.1c-.1-.3-.3-.5-.6-.5l-14.6-2.1L23.1.4c-.1-.3-.4-.4-.7-.4-.3 0-.6.2-.7.4l-6.5 13.1L.7 15.6c-.3 0-.6.3-.6.5s0 .6.2.8l10.5 10.2-2.6 14.5c-.1.3.1.6.3.8.2 0 .4.1.5.1s.3 0 .4-.1l12.9-6.8 12.9 6.8c.3.1.6.1.8-.1.2-.2.4-.5.3-.8L34 27.2 44.5 17c.2-.3.3-.6.2-.9zM32.6 26.3c-.2.2-.3.4-.2.7l2.3 13.2L22.8 34c-.2-.1-.5-.1-.7 0l-11.9 6.2L12.5 27c0-.3 0-.5-.2-.7l-9.6-9.4L16 15c.3 0 .5-.2.6-.4l5.9-12 5.9 12c.1.2.3.4.6.4l13.3 1.9-9.7 9.4z" fill="#252525"></path>
                </svg>
              </div>
              <p class="login_desc">Save your favorite <br>items in a Wish<br> List</p>
            </div>
            <div class="login_register_desc_item">
              <!--               <img class="login_img" src="{{ 'card.png' | asset_url }}" alt=""> -->
              <div class="site-nav__link--icon login_img login_img_card">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 362.2 247.5">
                  <path d="M258.2 205.1c7.6 4.9 17.1 5.6 25.5 1.8 1.6-.7 2.4-.5 4.3.3 3.5 1.6 7.2 2.3 10.8 2.3 8 0 15.7-3.8 21-10.7 7.4-9.7 7.3-23.3-.1-33-7.5-9.9-20.6-13.3-31.9-8.2-1.7.8-2.7.8-4.3 0-8.2-3.7-17.6-2.9-25.2 2-7.7 5-12.3 13.5-12.3 22.7 0 9.3 4.5 17.8 12.2 22.8zm15.1-8.3h-.3c-6.1 0-11.3-3.5-13.4-9.3-2.1-5.5-.7-11.8 3.5-15.7 4.6-4.4 10.9-5.3 16-2.4 4.6 2.6 8.3 2.6 12.9 0 5.8-3.3 13.2-1.6 17.5 4 4.2 5.5 4.1 12.9-.2 18.2-4.5 5.5-11.9 6.9-17.6 3.5-1.8-1.1-3.9-2.1-6.2-2.1-1.8 0-3.8.6-5.9 2.2-1.8 1.2-4 1.8-6.3 1.6zM128.8 101h71.5c2.5 0 5-.2 6.7-1.9 1.1-1.1 1.6-2.6 1.6-4.5-.1-6-6-6-8.2-6-8.6.1-17.3 0-25.8 0h-45.8c-2.2 0-4.8 0-6.5 1.7-1.1 1.1-1.6 2.6-1.5 4.6.1 6.1 5.2 6.1 8 6.1zm-80.4 0h40.5c2.3 0 4.1-.6 5.3-1.8 1.1-1.1 1.6-2.6 1.6-4.4 0-1.8-.5-3.3-1.6-4.3-1.2-1.2-3-1.8-5.5-1.8H48.2c-2.3-.1-4.1.5-5.3 1.7-1.1 1.1-1.7 2.6-1.7 4.4 0 1.8.5 3.3 1.6 4.4 1.5 1.2 3.3 1.8 5.6 1.8z" fill="#252525"></path>
                  <path d="M334 0H29.8C16.5 0 5.4 9.2 2.4 21.6l-2.5-2.2v208.8l2.5-2.2c3 12.3 14.2 21.5 27.4 21.5H334c15.6 0 28.2-12.7 28.2-28.2V28.2C362.2 12.7 349.6 0 334 0zm17.2 58v161.3c0 9.5-7.7 17.2-17.2 17.2H29.8c-9.5 0-17.2-7.7-17.2-17.2V58h338.6zM29.8 11H334c9.5 0 17.2 7.7 17.2 17.2V47H12.6V28.2c0-9.5 7.7-17.2 17.2-17.2z" fill="#252525"></path>
                </svg>
              </div>
              <p class="login_desc">Save your preferred <br> shipping addresses</p>
            </div>
            <div class="login_register_desc_item">
              <!--               <img class="login_img" src="{{ 'shipping.png' | asset_url }}" alt=""> -->
              <div class="site-nav__link--icon login_img">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.3 81.8">
                  <path d="M70.3 19.4v-.1c0-.1-.1-.2-.1-.4v-.1l-.3-.3s-.1 0-.1-.1l-.1-.1-17.9-9.6c-.2-.2-.4-.3-.6-.3L35.8.1c-.4-.2-.8-.2-1.2 0L.7 18.4l-.1.1s-.1 0-.1.1l-.3.3v.1c-.1 0-.2.1-.2.3v43.1c0 .5.3.9.7 1.1l33.9 18.2h.2c.1.1.3.1.4.1.1 0 .3 0 .4-.1h.2l33.9-18.2c.4-.2.7-.6.7-1.1l-.1-43zM35.2 36.2l-15.6-8.4L50.9 11l15.6 8.4-31.3 16.8zm0-33.5l13.1 7-31.4 16.8-13.1-7L35.2 2.7zM2.5 21.5l31.4 16.9v40L2.5 61.6V21.5zm33.9 56.9v-40l31.4-16.9v40L36.4 78.4z" fill="#252525"></path>
                  <path d="M17.6 35.5L7.4 30c-.4-.2-.9-.2-1.2 0-.4.2-.6.6-.6 1.1v7.4c0 .5.3.9.7 1.1l10.2 5.5c.2.1.4.2.6.2.2 0 .4-.1.6-.2.4-.2.6-.6.6-1.1v-7.4c0-.5-.3-.9-.7-1.1zm-1.8 6.4l-7.7-4.1v-4.5l7.7 4.1v4.5zm-2 12.4l-6.4-3.2c-.6-.3-1.4-.1-1.7.5-.3.6-.1 1.4.5 1.7l6.4 3.2c.2.1.4.1.6.1.5 0 .9-.2 1.1-.7.3-.5.1-1.2-.5-1.6zm0 4l-6.4-3.2c-.6-.3-1.4-.1-1.7.5-.3.6-.1 1.4.5 1.7l6.4 3.2c.2.1.4.1.6.1.5 0 .9-.2 1.1-.7.3-.5.1-1.2-.5-1.6z" fill="#252525"></path></svg>
              </div>
              <p class="login_desc">Check the details <br>and status of your <br>orders</p>
            </div>
          </div>

          <div class="register_btn_area text-center">
            <a class="btn btn--small customer_submit_btn" href="/account/register">REGISTER</a>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>


<style>
  .ssw-social-login-widget {
    margin-top: -30px;
  }
  .ssw-gdpr-subscribe-notify.ssw-muted {
    margin-top: -20px;
  }
  .ssw-socialconnect > .ssw-fbconnect.ssw-social-btn > a {
    background: #000;
    border: none !important;
    color: #fff !important;
  }
  .ssw-socialconnect > .ssw-gconnect > a,
  .ssw-socialconnect > .ssw-azconnect > a,
  .ssw-socialconnect > .ssw-gconnect > a:hover,
  .ssw-socialconnect > .ssw-azconnect > a:hover {
    box-shadow: none;
    color: #fff !important;
    background: #000;
  }
  .ssw-fbconnect.ssw-social-btn .ssw-icon-facebook::before {
    background-color: transparent !important;
  }
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a {
    display: flex !important;
    align-items: center;
    height: 34px !important;
    overflow: hidden;
    background: #000 !important;
  }
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a i,
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a svg {
    margin-left: 11px !important;
  }
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a i {
    height: 52px;
    width: 44px;
    margin-left: 2px;
  }
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a i.ssw-icon-facebook {
    margin-top: -8px;  
  }
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a span {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.72px;
    line-height: 11px;
  }
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a i, 
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a svg {
    position: relative;
    z-index: 9;
  }
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a {
    position: relative;
  }
  .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a:before {
    content: "";
    background: #393939;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 52px;
    z-index: 1;
  }
  .ssw-social-login-widget .ssw-socialconnect .ssw-fbconnect.ssw-social-btn a span {
    padding-left: 5px;
  }
  .ssw-socialconnect > .ssw-social-btn > a > svg, 
  .ssw-socialconnect > .ssw-social-btn > a > i,
  .ssw-fbconnect.ssw-social-btn .ssw-icon-facebook:before {
    font-size: 14px !important;
    width: 16px;
  }
  
  @media only screen and (max-width: 1024px){
    .ssw-socialconnect {
      flex-wrap: wrap;
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
    }
    .ssw-social-btn {
      margin-left: 0 !important;
    }
    .ssw-socialconnect > div.ssw-social-btn > a {
      max-width: 90%;
      margin: 0 auto;
    }
    .ssw-social-btn {
      margin-bottom: 0 !important;
      margin-top: 10px !important;
      margin-left: 0 !important;
    }
    .ssw-gdpr-subscribe-notify.ssw-muted {
      margin-top: -5px;
    }
    .ssw-social-login-widget .ssw-socialconnect .ssw-social-btn a i {
      margin-left: 0px;
    }
    .ssw-gconnect.ssw-social-btn a[title="Sign-in with Twitter"] span {
      margin-right: -10px;
    }
    .ssw-social-login-widget .ssw-socialconnect .ssw-fbconnect.ssw-social-btn a span {
      padding-left: 0;
    }
    .ssw-gconnect.ssw-social-btn a[title="Google"] span {
      margin-right: -10px;
    }
  }
</style>

<script>
  $(document).ready(function() {
    $(".ssw-fbconnect.ssw-social-btn a span").text('facebook');
  });
</script>