{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div class="page-width text_column_2 custompage_width text_col" id="section-{{ section.id }}">
  {% if section.settings.title != blank %}
    <div class="section-header mb-0 text-{{ section.settings.align_text }}">
      <h2 class="mb-0">{{ section.settings.title }}</h2>
    </div>
  {% endif %}

  <div class="grid-col-wrapper grid-overflow-wrapper">
  <div class="grid grid_12 {% unless section.blocks.size == 5 %}grid--uniform{% endunless %} grid--flush-bottom d-flex align-items-center" data-aos="overflow__animation">
    {% case section.settings.grid_item %}
      {% when '1' %}
        {%- assign grid_item_width = 'medium-up--one-whole' -%}
      {% when '2' %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when '3' %}
        {%- assign grid_item_width = 'medium-up--one-third' -%}
      {% when '4' %}
        {%- assign grid_item_width = 'medium-up--one-quarter' -%}
      {% when '5' %}
        {%- assign grid_item_width = 'medium-up--one-fifth' -%}
    {% endcase %}
    
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'text_block' %}
      {% comment %}
        {% if section.blocks.size == 5 and forloop.index < 3 %}
          {%- assign column_width = 'medium-up--one-half' -%}
        {% else %}
          {%- assign column_width = grid_item_width -%}
        {% endif %}
      {% endcomment %}
    
      <div class="block_{{ block.id }} grid__item grid__item_12 grid--uniform {{ grid_item_width }} text-{{ section.settings.align_text }}" {{ block.shopify_attributes }} data-aos="row-of-3">
        {% if block.settings.enable_image %}
        <div style="{% if section.settings.align_text == 'center' %}margin: 0 auto;{% endif %}">
          {% if block.settings.button_link != blank %}
          <a href="{{ block.settings.button_link }}">
            {% endif %}
            {% if block.settings.image != blank %}
            <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazyload"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080]"
                   data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ block.settings.image.alt }}">
            </div>
            {% else %}
            <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {% endif %}
            {% if block.settings.button_link != blank %}
          </a>
          {% endif %}
        </div>
        {% endif %}
        {% if block.settings.title != blank %}
        <h3 class="heading">{{ block.settings.title }}</h3>
        {% endif %}
        {% if block.settings.text != blank %}
        <div class="rte-setting custom_subtitle custom_subtitle3">{{ block.settings.text }}</div>
        {% endif %}
        
        {% if block.settings.text2 != blank %}
        <div class="rte-setting custom_subtitle2">{{ block.settings.text2 }}</div>
        {% endif %}
        
        {% if block.settings.button_label != blank %}
        <a href="{{ block.settings.button_link }}" class="btn btn--secondary btn--small active_btn">
          {{ block.settings.button_label }} <i class="fa fa-caret-right shop_icon"></i>
        </a>
        {% endif %}
      </div>
    {% endcase %}
    {% endfor %}
  </div>
  </div>
</div>

{% if section.settings.divider %}</div>{% endif %}


{%- include 'section-style' -%}

{%- style -%}
#section-{{ section.id }} .section-header h2 {
	font-size: {{ section.settings.heading_fontsize }}px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #section-{{ section.id }} .section-header h2 {
      font-size: {{ section.settings.heading_fontsize_md }}px;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  #section-{{ section.id }} .section-header h2 {
      font-size: {{ section.settings.heading_fontsize_sm }}px;
  }
}


{%- for block in section.blocks -%}
    {% case block.type %}
    {% when 'text_block' %}
  .block_{{ block.id }} {
	{%- assign bset = block.settings -%}
    margin-top: {{ bset.section_margin_top }}px;
    margin-bottom: {{ bset.section_margin_bottom }}px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .block_{{ block.id }} {
	  {%- assign bset = block.settings -%}
      margin-top: {{ bset.section_margin_top_md }}px;
      margin-bottom: {{ bset.section_margin_bottom_md }}px;
    }
  }
  @media (max-width: 767px) {
    .block_{{ block.id }} {
	  {%- assign bset = block.settings -%}
      margin-top: {{ bset.section_margin_top_xs }}px;
      margin-bottom: {{ bset.section_margin_bottom_xs }}px;
    }
  }
{%- endcase -%}
{%- endfor -%}
{%- endstyle -%}


{% schema %}
  {
    "name": "Text columns images 2",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
            {
			  "type": "header",
			  "content": "Heading Font Size"
			},
			{
			  "type": "number",
			  "id": "heading_fontsize",
			  "label": "Large/Desktop Device",
			  "default": 42
			},
			{
			  "type": "number",
			  "id": "heading_fontsize_md",
			  "label": "Tablet Device",
			  "default": 42
			},
			{
			  "type": "number",
			  "id": "heading_fontsize_sm",
			  "label": "Mobile Device",
			  "default": 32
			},
      {
        "type": "select",
        "id": "align_text",
        "label": "Alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid_item",
        "label": "Grid column",
        "default": "5",
        "options": [
          {
            "value": "1",
            "label": "Full"
          },
          {
            "value": "2",
            "label": "Half"
          },
          {
            "value": "3",
            "label": "Third"
          },
          {
            "value": "4",
            "label": "Quarter"
          },
          {
            "value": "5",
            "label": "Fifth"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "richtext",
            "id": "text2",
            "label": "Text 2"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          },
            {
			  "type": "header",
			  "content": "Margin Top"
			},
			{
			  "type": "number",
			  "id": "section_margin_top",
			  "label": "Large/Desktop Device",
			  "default": 0
			},
			{
			  "type": "number",
			  "id": "section_margin_top_md",
			  "label": "Tablet Device",
			  "default": 0
			},
			{
			  "type": "number",
			  "id": "section_margin_top_xs",
			  "label": "Mobile Device",
			  "default": 0
			}
        ]
      },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       }
    ],
    "presets": [
      {
        "name": "Text columns images 2",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
